@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #f4f4f4;
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  display: block;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0px;

  background-color: lightslategray;
  color: lightgrey;
  width: 100%;
}

label {
  margin-top: 5px;
}

/* Classes definition */

.container {
  max-width: 500px;
  margin: 40px auto;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: ghostwhite;
  padding: 10px 5px;
  margin-bottom: 0px;
  font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;

  font-stretch: ultra-expanded;
}

.process-form {
  display: grid;
  gap: 5px;
  margin: 10px auto;
}

.process-form input[type="text"],
input[type="password"] {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.btn {
  display: inline;

  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.375rem;

  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  cursor: pointer !important;
}

.btn:hover {
  filter: brightness(90%);
  transition: filter 0.3s ease;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-secondary {
  background-color: #e9e9e9;
  color: black;
}

.inline-form {
  display: inline;
  margin: 0;
}

.message {
  color: blue;
  font-weight: bolder;
}

.error {
  color: red;
  font-weight: bolder;
}
