{% extends "base.html" %} 

{% block title %}
    Error Page {{ error_code }}
{% endblock %}

{% block content %}
  <form method="GET" action="/login" class="process-form">
    <h2 class="title">Error {{ error_code }}</h2>

    <p class="error">{{ error_message }}</p>
    <a href="{{ url_for('login') }}" class="btn btn-secondary">Try Again</a>
    
  </form>
{% endblock %}
