{% extends "base.html" %} 

{% block title %}
    Init Session
{% endblock %}

{% block content %}
  <h2 class="title">Login Form</h2>
  <form method="POST" class="process-form">

    <label for="username">Enter a valid username:</label>
    <input type="text" name="username" placeholder="Username" required />

    <label for="password">Enter the password:</label>
    <input type="password" name="password" placeholder="Password" required />
    <hr>
    <input type="submit" class="btn btn-primary" value="Login" />
  </form>
{% endblock %}
